/*? RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 70%;
    margin: 20px auto;
}

.margin-bottom {
    margin-bottom: 30px;
}

header {
    background-color: plum;
    height: 180px;
}


.first-container {
    background-color: rgb(211, 228, 143);
    height: 600px;
}

.second-container {
    background-color: rgb(65, 138, 227);
    height: 740px;
    margin-bottom: 20px;
}

.bg-lightblue {
    background-color: lightblue;
}

.top-section {
    height: 100px;
    margin-bottom: 20px;
}

.aside-left {
    margin-right: 20px;
}

.aside {
    height: 600px;
    width: 15%;
    float: left;
}

.center-content {
    height: 600px;
    width: calc(70% - 40px);
    float: left;
    margin-right: 20px;
}


footer {
    
}